*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300; }

.app_header {
  background-color: #00102C;
  height: 60px;
  width: 100%;
  position: relative; }
  .app_header__left {
    left: 10px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF; }
  .app_header__title {
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700; }
  .app_header__right {
    right: 10px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF; }
    .app_header__right--icon {
      position: absolute;
      right: 6px; }
